
.col-2 {
    margin-top: 5rem;
    background-color: #006f3c;
    box-shadow: -20px 5px 10px rgba(0, 0, 0, 0.4);
    
    width: 200px;
  }
  .img1 {
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.4);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 8rem;
    margin-top: 5rem;
  }
  .img2 {
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.4);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 8rem;
    margin-top: 15rem;
  }
  .card{
    color: white;
    margin-top: 5rem;
    background-color: #006f3c;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.4);
    opacity: 0.9;
    width: 310px;
    margin-left: 95px;
  }
  
  .button {
    background-color: #ca4c8f; /* Green */
    border: none;
    color: white;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 1rem;
    margin-left: 1rem;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
  }
  .button1 {
    background-color: #ca4c8f; 
    color: white; 
    border: 2px solid #ca4c8f;
  }
  
  .button1:hover {
    background-color: #ca4c8f;
    color: white;
  }
  .btn{
    background-color: #252525; /* Green */
    border: none;
    color: white;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 5.5rem;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
  }
  